*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C59849;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 5% auto 0 auto;
}

.container img{
    width: 100%;
    margin: 0 auto;
}

input{
    background-color: #DCE1EB;
    color: #432000;
    border: none;
    border-radius: 3px;
    margin: 5px -50px;
    padding: 3% 6%;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#list-btn{
    background-color: #522A27;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin: 5px -50px;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#list-btn:hover {
    background-color: black;
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5%;

}

ul li{
    padding: 10px 15px;
    background-color: #D7AF70;
    color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black;
}

ul li:hover{
    background-color: black;
    cursor: pointer;
}

#todo-list{
    color: #fff;
    text-shadow: 1px 1px 2px black;
    margin: 10px -50px 0 -50px;
}


@media only screen and (max-width: 600px){

.container img{
    width: 50%;
}

#list-btn{
    margin: 5px 25px;
}

#list-btn:hover {
    background-color: #522A27;
}
ul li {
    padding: 8px 15px;
}

ul li:hover{
    background-color: #D7AF70;
}

input{
    margin: 5px 25px;
}

.container {
    margin: 25% auto 0 auto;
}
#todo-list{
    margin: 10px 25px 0 25px;
}
}